<ion-spinner *ngIf="isLoading"></ion-spinner>

<ion-card *ngIf="!isLoading">
  <ion-card-header>
    <ion-card-title>{{ myTask.name }}</ion-card-title>
    <ion-card-subtitle>Due: {{ myTask.dueDate.toLocaleDateString() }}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="desc-text">
            <ion-text>{{ myTask.description }}</ion-text>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="button" expand="block" *ngIf="myTask.status == 'Open'" (click)="onChangeStatus('Accepted')">
            Accept
          </ion-button>
          <ion-button type="button" expand="block" *ngIf="myTask.status == 'Accepted'"
            (click)="onChangeStatus('Working')">
            Begin Working
          </ion-button>
          <ion-button type="button" expand="block" *ngIf="myTask.status == 'Working'"
            (click)="onChangeStatus('Verify')">
            Mark Ready to Verify
          </ion-button>
          <ion-text *ngIf="myTask.status == 'Verify'">Awaiting Verification</ion-text>
          <ion-text *ngIf="myTask.status == 'Complete'">Complete</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="button" expand="block" routerLink="/groups/detail/{{ myTask.groupIdentifier }}"
            routerDirection="forward">
            Go to Group
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>