<ion-grid>
  <ion-row *ngIf="isLoading; else pageLoaded">
    <ion-col>
      <ion-spinner></ion-spinner>
    </ion-col>
  </ion-row>

  <ng-template #pageLoaded>
    <form (ngSubmit)="onSubmit(newGroupForm)" #newGroupForm="ngForm">
      <ion-row>
        <ion-col>
          <h1>Add New Group</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="input-item">
            <ion-label position="floating">Group Name</ion-label>
            <ion-input type="text" ngModel name="name" required ngModel maxlength=25></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" expand="block" [disabled]="!newGroupForm.valid">
            Create Group
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="button" color="primary" expand="block" (click)="onCancel()">
            Cancel
          </ion-button>
        </ion-col>
      </ion-row>

    </form>
  </ng-template>
</ion-grid>