<ion-header>
  <ion-toolbar>
    <ion-title>My Tasks</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="menu1"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onRefreshTasks()">
        <ion-icon name="refresh" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content (ionScroll)="onScroll($event)" [scrollEvents]="true">
  <ion-spinner *ngIf="isLoading; else pageLoaded"></ion-spinner>

  <ng-template #pageLoaded>
    <ion-text *ngIf="myTasks?.length === 0">You are not assigned any tasks</ion-text>

    <div class="flex-container" *ngIf="myTasks?.length> 0">
      <app-task-detail class="flex-object" [myTask]="task" *ngFor="let task of myTasks"></app-task-detail>
    </div>
  </ng-template>
</ion-content>