<ion-row *ngIf="isLoading; else loaded">
  <ion-col>
    <ion-spinner></ion-spinner>
  </ion-col>
</ion-row>

<ng-template #loaded>

  <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
    <ion-row>
      <ion-col>
        <ion-item class="input-item">
          <ion-label position="floating">User Id or Email</ion-label>
          <ion-input type="text" ngModel name="userId" required ngModel></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="input-item">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" ngModel name="password" required ngModel #inputPassword
            (ionFocus)="inputPassword.value = ''" (keyup.enter)="onSubmit(loginForm)"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button type="submit" expand="block" [disabled]="!loginForm.valid ">
          Login
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button type="button" expand="block" (click)="onForgotPassword()">
          Forgot Password
        </ion-button>
      </ion-col>
    </ion-row>
  </form>

  <ion-row *ngIf="errorMessage">
    <ion-col>
      <ion-item class="error-item" lines="none">
        <ion-text>{{ errorMessage }}</ion-text>
      </ion-item>
    </ion-col>
  </ion-row>

</ng-template>