<ion-spinner *ngIf="isLoading"></ion-spinner>

<ion-card *ngIf="!isLoading">
  <ion-card-header>
      <ion-card-title>{{ groupMember.name }} {{ groupMember.identifier == myProfile.identifier ? '(me)' : '' }}</ion-card-title>
    <ion-card-subtitle>{{ groupMember.email }}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-grid>

      <ion-row>
        <ion-col>
          <ion-text>Title: {{ groupMember.title }}</ion-text>
        </ion-col>
      </ion-row>

      <div
        *ngIf="(loadedGroup.role == 'Owner' || (loadedGroup.role == 'Manager' && groupMember.role != 'Owner')) && groupMember.identifier != myProfile.identifier; else cannotChangeMemberRole">
        <ion-row>
          <ion-col size-xs="3">
            <ion-text>Role:</ion-text>
          </ion-col>
          <ion-col size-xs="8">
            <ion-select value="{{ groupMember.role }}" #updateMemberRole
              (ionChange)="onUpdateGroupMember(groupMember.identifier, updateMemberRole.value)">
              <ion-select-option value="Member">Member</ion-select-option>
              <ion-select-option value="Manager">Manager</ion-select-option>
              <ion-select-option value="Owner" *ngIf="loadedGroup.role == 'Owner'">Owner</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size-xs="1">
            <ion-icon name="trash-outline" (click)="onDeleteGroupMember()"></ion-icon>
          </ion-col>
        </ion-row>
      </div>

      <ng-template #cannotChangeMemberRole>
        <ion-row>
          <ion-col>
            <ion-text>Role: {{ groupMember.role }}</ion-text>
          </ion-col>
        </ion-row>
      </ng-template>

      <ion-row *ngIf="!groupMember.accepted">
        <ion-col>
          <ion-text>
            Awaiting Group Member Acceptance
          </ion-text>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-card-content>
</ion-card>