<ion-grid>
  <ion-row *ngIf="isLoading; else pageLoaded">
    <ion-col>
      <ion-spinner></ion-spinner>
    </ion-col>
  </ion-row>

  <ng-template #pageLoaded>
    <form #newMemberForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-item  class="input-item">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="text" name="newMemberEmail" required email ngModel #newMemberEmail="ngModel" maxlength=320></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="error-item" *ngIf="!newMemberEmail.valid && newMemberEmail.touched" lines="none">
            <ion-text>Enter a Valid Email</ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item  class="input-item">
            <ion-select name="newMemberRole" #newMemberRole ngModel="Member" value="Member">
              <ion-select-option value="Member">Member</ion-select-option>
              <ion-select-option value="Manager">Manager</ion-select-option>
              <ion-select-option value="Owner" *ngIf="loadedGroup.role == 'Owner'">Owner</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="button" color="primary" expand="block" [disabled]="!newMemberForm.valid"
            (click)="onAddNewMember(newMemberForm)">
            Add
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button type="button" color="primary" expand="block" (click)="onCancel()">
            Cancel
          </ion-button>
        </ion-col>
      </ion-row>

    </form>
  </ng-template>

</ion-grid>