<ion-row *ngIf="isLoading; else loaded">
  <ion-col>
    <ion-spinner></ion-spinner>
  </ion-col>
</ion-row>

<ng-template #loaded>

  <form (ngSubmit)="onSubmit(confirmCodeForm)" #confirmCodeForm="ngForm">
    <ion-row>
      <ion-col>
        <ion-item class="input-item" class="input-item">
          <ion-label position="floating">Emailed Verification Code</ion-label>
          <ion-input type="text" ngModel name="confirmationCode" required ngModel></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block" [disabled]="!confirmCodeForm.valid ">
          Submit Code
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button type="button" color="primary" expand="block" (click)="onResendCode()">
          Resend Code
        </ion-button>
      </ion-col>
    </ion-row>
  </form>

  <ion-row *ngIf="errorMessage">
    <ion-col>
      <ion-item class="error-item" lines="none">
        <ion-text>{{ errorMessage }}</ion-text>
      </ion-item>
    </ion-col>
  </ion-row>

</ng-template>