<ion-header>
  <ion-toolbar>
    <ion-title> {{ !isLogin ? "Signup" : "Login" }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!confirmCodeRequiredUserId">
  <ion-grid>
    <app-login (isLoadingEvent)="setIsLoading($event)" *ngIf="isLogin"></app-login>
    <app-signup (isLoadingEvent)="setIsLoading($event)" *ngIf="!isLogin"></app-signup>
    <ion-row *ngIf="!isLoading">
      <ion-col size-sm="6" offset-sm="3">
        <ion-button type="button" fill="clear" expand="block" (click)="onSwitchAuthMode()">
          Switch to {{ isLogin ? "Signup" : "Login" }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf="confirmCodeRequiredUserId">
  <ion-grid>
    <app-confirm [userId]=confirmCodeRequiredUserId></app-confirm>
  </ion-grid>
</ion-content>