<ion-grid>
  <ion-row *ngIf="isLoading; else pageLoaded">
    <ion-col>
      <ion-spinner></ion-spinner>
    </ion-col>
  </ion-row>

  <ng-template #pageLoaded>
    <form [formGroup]="changePasswordForm" *ngIf="!errorMessage && !isLoading">
      <ion-row>
        <ion-col>
          <ion-item class="input-item">
            <ion-label position="floating"> Current Password</ion-label>
            <ion-input type="password" #currentPassword formControlName="currentPassword"
              (ionFocus)="currentPassword.value = ''" maxlength=99>
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="input-item">
            <ion-label position="floating">New Password</ion-label>
            <ion-input type="password" #newPassword formControlName="newPassword" (ionFocus)="newPassword.value = ''" maxlength=99>
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="input-item">
            <ion-label position="floating">Confirm New Password</ion-label>
            <ion-input type="password" #confirmPassword (ionFocus)="confirmPassword.value = ''" maxlength=99>
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="error-item"
            *ngIf="!changePasswordForm.get('newPassword').valid && changePasswordForm.get('newPassword').touched"
            lines="none">
            <ion-text>Enter a Valid Password</ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="error-item"
            *ngIf="changePasswordForm.get('newPassword').valid && newPassword.value != confirmPassword.value"
            lines="none">
            <ion-text>Passwords do not match</ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="button" color="primary" expand="block"
            [disabled]="!changePasswordForm.valid || newPassword.value != confirmPassword.value"
            (click)="onChangePassword()">
            Change Password
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="button" color="primary" expand="block" (click)="onCancel()">
            Cancel
          </ion-button>
        </ion-col>
      </ion-row>
    </form>

    <ion-row *ngIf="errorMessage && !isLoading">
      <ion-col>
        <ion-text>{{ errorMessage }}</ion-text>
      </ion-col>
    </ion-row>

  </ng-template>
</ion-grid>