.group-detail__content {
    height: 100%;
}

.group-detail__not-loading {
    height: auto;
}

.group-detail__card {
    height: 100%;
}

.group__open {
    margin-top: 1.0rem;

    --ion-background-color: var(--ion-color-secondary);
    border: 0.5rem solid var(--ion-color-secondary);
    border-radius: 0.5rem;

    ion-list-header {
        --color: var(--ion-color-secondary-contrast);
        padding: 0rem;
    }
}

.group__closed {
    background-color: var(--ion-color-secondary);
    color: var(--ion-color-secondary-contrast);
    border: 0.5rem solid var(--ion-color-secondary);
    border-radius: 0.5rem;
    margin: 0.2rem;
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}

ion-button {
    max-width: 50rem;
}
.group-name {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}



