<ion-header>
  <ion-toolbar>
    <ion-title>Group Detail</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/groups"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="!isLoading">
      <ion-button (click)="onRefreshGroup()">
        <ion-icon name="refresh" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="onDeleteGroup()" *ngIf="amOwner && loadedGroup.ownerCount == 1">
        <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="onLeaveGroup()" *ngIf="!amOwner || loadedGroup.ownerCount != 1">
        Leave
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="group-detail__content">
  <ion-spinner *ngIf="isLoading"></ion-spinner>

  <div class="group-detail__not-loading" *ngIf="!isLoading">

    <ion-card class="group-detail__card">

      <ion-card-header>
        <ion-card-title>
          {{ loadedGroup.name }}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>

        <div *ngIf="!isEdit">

          <ion-button type="button" expand="block" (click)="toggleEditGroup()" *ngIf="amOwner || amManager">
            Edit
          </ion-button>

        </div>

        <div *ngIf="isEdit">

          <form #editForm="ngForm">
            <ion-item class="input-item group-name">
              <ion-label position="floating">Enter Group Name</ion-label>
              <ion-input type="text" name="groupName" #groupName required [ngModel]="loadedGroup.name" maxlength=22>
              </ion-input>
            </ion-item>
            <ion-button type="button" expand="block" [disabled]="!editForm.valid" (click)="onEditGroup(editForm)">
              Save
            </ion-button>
          </form>

          <ion-button type="button" expand="block" (click)="onAddMember()">
            Add New Member
          </ion-button>
          <ion-button type="button" expand="block" (click)="onAddTask()">
            Add New Task
          </ion-button>
          <ion-button type="button" expand="block" (click)="toggleEditGroup()">
            Close
          </ion-button>
        </div>

        <hr>

        <div class="members-and-tasks">
          <div class="group__closed" *ngIf="!showMembers" (click)="toggleShowMembers()">
            <ion-grid>
              <ion-row>
                <ion-col size="col-xs-1">
                  <ion-icon name="caret-forward-outline"></ion-icon>
                </ion-col>
                <ion-col>
                  <ion-text>Members</ion-text>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>

          <div class="group__open" *ngIf="showMembers">
            <ion-list>
              <ion-list-header>
                <div (click)="toggleShowMembers()">
                  <ion-grid>
                    <ion-row>
                      <ion-col size="col-xs-1">
                        <ion-icon name="caret-down-outline" (click)="toggleShowMembers()"></ion-icon>
                      </ion-col>
                      <ion-col>
                        <ion-text>Members</ion-text>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
              </ion-list-header>

              <div class="flex-container">
                <app-show-member class="flex-object" [groupMember]="member" [loadedGroup]="loadedGroup"
                  *ngFor="let member of loadedGroup.members">
                </app-show-member>
              </div>
            </ion-list>
          </div>

          <div class="group__closed" *ngIf="!showTasks" (click)="toggleShowTasks()">
            <ion-grid>
              <ion-row>
                <ion-col size="col-xs-1">
                  <ion-icon name="caret-forward-outline"></ion-icon>
                </ion-col>
                <ion-col>
                  <ion-text>Tasks</ion-text>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>

          <div class="group__open" *ngIf="showTasks">
            <ion-list>
              <ion-list-header>
                <div (click)="toggleShowTasks()">
                  <ion-grid>
                    <ion-row>
                      <ion-col size="col-xs-1">
                        <ion-icon name="caret-down-outline" (click)="toggleShowTasks()"></ion-icon>
                      </ion-col>
                      <ion-col>
                        <ion-text>Tasks</ion-text>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
              </ion-list-header>

              <div class="flex-container">
                <app-show-task class="flex-object" [groupTask]="task" [loadedGroup]="loadedGroup"
                  *ngFor="let task of loadedGroup.tasks"></app-show-task>
              </div>
            </ion-list>
          </div>

        </div>

      </ion-card-content>
    </ion-card>

  </div>

</ion-content>