<ion-grid>
  <ion-row *ngIf="isLoading; else pageLoaded">
    <ion-col>
      <ion-spinner></ion-spinner>
    </ion-col>
  </ion-row>

  <ng-template #pageLoaded>
    <ion-row>
      <ion-col>
        <h1>{{ this.addTask ? 'Add New' : 'Update' }} Task</h1>
      </ion-col>
    </ion-row>

    <form #newTaskForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-item class="input-item">
            <ion-label position="floating">Name</ion-label>
            <ion-input type="text" ngModel name="name" required [ngModel]="taskModel?.name" maxlength=18></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="input-item">
            <ion-label position="floating">Description</ion-label>
            <ion-textarea type="text" ngModel name="description" required [ngModel]="taskModel?.description"
              maxlength=150></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="input-item">
            <ion-label position="floating">Due Date</ion-label>
            <ion-datetime display-format="MMM DD YYYY" [min]="dueDatePickerStart" [max]="dueDatePickerStop"
              name="dueDate" required [ngModel]="taskModel?.dueDate.toISOString()"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

      <div *ngIf="memberSelectorOptions.length > 1">

        <ion-row>
          <ion-col>
            <ion-item class="input-item" *ngIf="this.addTask">
              <ion-label>Multiple Owners</ion-label>
              <ion-toggle (ionChange)="onToggleMultipleOwners($event.detail.checked)" checked="{{multipleOwners}}">
              </ion-toggle>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item class="input-item">

              <div *ngIf="multipleOwners; else oneOwner">
                <ion-label position="floating">Owners</ion-label>
                <ion-select ngModel multiple required name="owners">
                  <ion-select-option value="{{ option.value }}" *ngFor="let option of memberSelectorOptions">
                    {{ option.display }}
                  </ion-select-option>
                </ion-select>
              </div>

              <ng-template #oneOwner>
                <ion-label position="floating">Owner</ion-label>
                <ion-select required name="owner" [ngModel]="taskModel?.ownerIdentifier">
                  <ion-select-option value="{{ option.value }}" *ngFor="let option of memberSelectorOptions">
                    {{ option.display }}
                  </ion-select-option>
                </ion-select>
              </ng-template>

            </ion-item>
          </ion-col>
        </ion-row>

      </div>

      <ion-row *ngIf="!addTask">
        <ion-col>
          <ion-item class="input-item">
            <ion-select required name="taskStatus" #taskStatus [ngModel]="taskModel?.status" value="taskModel?.status">
              <ion-select-option value="Open">Open</ion-select-option>
              <ion-select-option value="Accepted">Accepted</ion-select-option>
              <ion-select-option value="Working">Working</ion-select-option>
              <ion-select-option value="Verify">Verify</ion-select-option>
              <ion-select-option value="Complete">Complete</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="button" color="primary" expand="block" [disabled]="!newTaskForm.valid"
            (click)="onAddTask(newTaskForm)">
            {{ this.addTask ? 'Add' : 'Update' }} Task
          </ion-button>
          <ion-button type="button" color="primary" expand="block" (click)="onCancel()">
            Cancel
          </ion-button>
        </ion-col>
      </ion-row>
    </form>

  </ng-template>
</ion-grid>