<ion-row *ngIf="isLoading; else loaded">
  <ion-col>
    <ion-spinner></ion-spinner>
  </ion-col>
</ion-row>

<ng-template #loaded>

  <form [formGroup]="signupForm">
    <ion-row>
      <ion-col>
        <ion-item class="input-item">
          <ion-label position="floating">Choose User Id</ion-label>
          <ion-input type="text" formControlName="userId" maxlength=12></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="input-item">
          <ion-label position="floating">Your Email Address</ion-label>
          <ion-input type="email" #email formControlName="email" maxlength=320></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched">
      <ion-col>
        <ion-item class="error-item" lines="none">
          <ion-text>Enter a Valid Email</ion-text>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="input-item">
          <ion-label position="floating">Choose Password</ion-label>
          <ion-input type="password" #inputPassword formControlName="inputPassword"
            (ionFocus)="inputPassword.value = ''" maxlength=99>
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!signupForm.get('inputPassword').valid && signupForm.get('inputPassword').touched">
      <ion-col>
        <ion-item class="error-item" lines="none">
          <ion-text> Number, lower, and upper case required</ion-text>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="input-item">
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input type="password" #confirmPassword (ionFocus)="confirmPassword.value = ''" maxlength=99>
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="signupForm.get('inputPassword').valid && inputPassword.value != confirmPassword.value">
      <ion-col>
        <ion-item class="error-item" lines="none">
          <ion-text>Passwords do not match</ion-text>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button type="button" expand="block"
          [disabled]="!signupForm.valid || inputPassword.value != confirmPassword.value" (click)="onSignup()">
          Signup
        </ion-button>
      </ion-col>
    </ion-row>
  </form>

  <ion-row *ngIf="errorMessage">
    <ion-col>
      <ion-item class="error-item" lines="none">
        <ion-text>{{ errorMessage }}</ion-text>
      </ion-item>
    </ion-col>
  </ion-row>

</ng-template>