<ion-app>
  <ion-menu side="start" contentId="main-content" menuId="menu1">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Task Manager
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-menu-toggle>
        <ion-list>
          <ion-item lines="none" routerLink="/profile">
            <ion-icon name="person-outline" slot="start"></ion-icon>
            <ion-label>Profile</ion-label>
          </ion-item>
          <ion-item lines="none" routerLink="/groups">
            <ion-icon name="people-outline" slot="start"></ion-icon>
            <ion-label>Groups</ion-label>
          </ion-item>
          <ion-item lines="none" routerLink="/tasks">
            <ion-icon name="construct-outline" slot="start"></ion-icon>
            <ion-label>Tasks</ion-label>
          </ion-item>
          <ion-item lines="none" (click)="onLogout()" button>
            <ion-icon name="log-out-outline" slot="start"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-list>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>