<ion-grid>
  <ion-row *ngIf="isLoading">
    <ion-col>
      <ion-spinner></ion-spinner>
    </ion-col>
  </ion-row>

  <form #resetForm="ngForm" *ngIf="!isLoading && !inputResetCode">
    <ion-row>
      <ion-col>
        <ion-item class="input-item">
          <ion-label position="floating">User Id</ion-label>
          <ion-input type="text" ngModel name="userId" required ngModel></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button type="button" color="primary" expand="block" [disabled]="!resetForm.valid"
          (click)="onSendResetCode(resetForm)">
          Login
        </ion-button>
      </ion-col>
    </ion-row>
  </form>

  <form [formGroup]="confirmForm" *ngIf="!isLoading && inputResetCode">
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item class="input-item">
          <ion-label position="floating">Emailed Verification Code</ion-label>
          <ion-input type="text" required formControlName="code"></ion-input>
        </ion-item>
        <ion-item class="input-item">
          <ion-label position="floating">New Password</ion-label>
          <ion-input type="password" #newPassword formControlName="newPassword" (ionFocus)="newPassword.value = ''">
          </ion-input>
        </ion-item>
        <ion-item class="input-item">
          <ion-label position="floating">Confirm New Password</ion-label>
          <ion-input type="password" #confirmPassword (ionFocus)="confirmPassword.value = ''">
          </ion-input>
        </ion-item>
        <ion-item class="error-item" *ngIf="!confirmForm.get('newPassword').valid && confirmForm.get('newPassword').touched" lines="none">
          <ion-text>Enter a Valid Password</ion-text>
        </ion-item>
        <ion-item class="error-item" *ngIf="confirmForm.get('newPassword').valid && newPassword.value != confirmPassword.value"
          lines="none">
          <ion-text>Passwords do not match</ion-text>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button type="button" color="primary" expand="block" [disabled]="!confirmForm.valid"
          (click)="onVerifyCode()">
          Verify Code
        </ion-button>
      </ion-col>
    </ion-row>
  </form>

  <ion-row *ngIf="errorMessage && !isLoading">
    <ion-col>
      <ion-text>{{ errorMessage }}</ion-text>
    </ion-col>
  </ion-row>
</ion-grid>