<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="start" *ngIf="!createProfile">
      <ion-menu-button menu="menu1"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="isLoading; else pageLoaded"></ion-spinner>

  <ng-template #pageLoaded>

    <ion-grid>

      <form [formGroup]="profileForm">
        <ion-row>
          <ion-col>
            <ion-item class="input-item">
              <ion-label position="stacked">User Id</ion-label>
              <ion-text>{{ user }}</ion-text>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item class="input-item">
              <ion-label position="stacked">Email</ion-label>
              <ion-text>{{ email }}</ion-text>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item class="input-item">
              <ion-label position="floating">Enter Your Name</ion-label>
              <ion-input type="text" formControlName="name" maxlength=18></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item class="input-item">
              <ion-label position="floating">Enter Your Title</ion-label>
              <ion-input type="text" formControlName="title" maxlength=22></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="calendarPlatform">
          <ion-col>
            <ion-item class="input-item">
              <ion-label>Add Tasks to Calendar</ion-label>
              <ion-toggle formControlName="addTasksToCalendar"></ion-toggle>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button type="button" expand="block" [disabled]="!profileForm.valid" (click)="onUpdate()">
              {{ createProfile ? "Create" : "Update" }}
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!createProfile">
          <ion-col>
            <ion-button type="button" expand="block" (click)="onChangePassword()">
              Change Password
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!createProfile">
          <ion-col>
            <ion-button type="button" expand="block" (click)="onDelete()">
              Delete Profile
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!createProfile">
          <ion-col>
            <ion-button type="button" expand="block" (click)="onCancel()">
              Cancel
            </ion-button>
          </ion-col>
        </ion-row>
      </form>

    </ion-grid>

    <ion-text *ngIf="errorMessage && !isLoading">{{ errorMessage }}</ion-text>

  </ng-template>

</ion-content>