ion-row {
    align-items: center;
}

ion-card-header {
    text-align: center;
}

ion-select {
    --padding-start: 0px;
    --padding-top: 0px;
    max-width: 100%;
}

@media (min-width: 40rem) {
    .desc-text {
        height: 10rem;
    }
}

.verify-button {
    width: 80%;
    margin-left: 0px;
}