<ion-card *ngIf="!isLoading">
  <ion-card-header>
    <ion-card-title>{{ groupTask.name }}</ion-card-title>
    <ion-card-subtitle>Due: {{ groupTask.dueDate.toLocaleDateString() }}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-grid>
      <ion-row *ngIf="isLoading">
        <ion-col>
          <ion-spinner></ion-spinner>
        </ion-col>
      </ion-row>

      <div *ngIf="!isLoading">
        <ion-row>
          <ion-col>
            <div class="desc-text">
              <ion-text>{{ groupTask.description }}</ion-text>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            Owner:
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text>{{ taskOwner.name }}</ion-text>
          </ion-col>
          <ion-col>
            <ion-text>{{ taskOwner.email }}</ion-text>
          </ion-col>
        </ion-row>

        <div *ngIf="loadedGroup.role != 'Owner' && loadedGroup.role != 'Manager'; else isOwnerOrManager">
          <ion-row>
            <ion-col>
              <ion-text>{{ groupTask.status }}</ion-text>
            </ion-col>
          </ion-row>
        </div>

        <ng-template #isOwnerOrManager>
          <ion-row>
            <ion-col size-xs="10">
              <ion-button class="verify-button" type="button" expand="block"
                *ngIf="groupTask.status == 'Verify'; else notVerify" (click)="onChangeTaskStatus('Complete')">
                Verify
              </ion-button>
              <ng-template #notVerify>
                <ion-text>Status: {{ groupTask.status }}</ion-text>
              </ng-template>
            </ion-col>
            <ion-col size-xs="1">
              <ion-icon name="build-outline" (click)="onEditTask()"></ion-icon>
            </ion-col>
            <ion-col size-xs="1">
              <ion-icon name="trash-outline" (click)="onDeleteTask()"></ion-icon>
            </ion-col>
          </ion-row>
        </ng-template>

      </div>

    </ion-grid>
  </ion-card-content>
</ion-card>