<ion-header>
  <ion-toolbar>
    <ion-title>My Groups</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="menu1"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onAddGroup()">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="onRefreshGroups()">
        <ion-icon name="refresh" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content (ionScroll)="onScroll($event)" [scrollEvents]="true">
  <ion-spinner *ngIf="isLoading; else pageLoaded"></ion-spinner>

  <ng-template #pageLoaded>
    <ion-text *ngIf="loadedGroups?.length === 0">You are not a member of any groups</ion-text>

    <div class="flex-container" *ngIf="loadedGroups?.length > 0">

      <div class="flex-object" *ngFor="let group of loadedGroups">

        <ion-card (click)="onClickGroupCard(group)">
          <ion-card-header>
            <ion-card-title>{{ group.name }}</ion-card-title>
            <ion-card-subtitle>{{ group.accepted ? group.role : 'Click to Manage Membership' }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
          </ion-card-content>
        </ion-card>

      </div>

    </div>

  </ng-template>

</ion-content>