/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


:root {
    --ion-background-color: var(--ion-color-light);
    --ion-toolbar-background: var(--ion-color-secondary);
    --ion-toolbar-color: var(--ion-color-secondary-contrast);
}

main {
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ion-menu {
    --ion-background-color: var(--ion-color-light);
}

ion-header {
    ion-button {
        --box-shadow: 0 0 0 0;
    }
}

ion-grid {
    max-width: 50rem;
}

ion-card {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
    width: 100%;
    height: 100%;
    margin: 0rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    ion-card-header {
        text-align: center;
    }

    ion-card-title {
        font-size: 1.5rem;
        --color: var(--ion-color-primary-contrast);
    }

    ion-card-subtitle {
        font-size: 1.2rem;
        --color: var(--ion-color-primary-contrast);
    }

    ion-card-content {
        padding: 0.5rem !important;
        font-size: 1rem !important;
    }
}

ion-button {
    --background: var(--ion-color-secondary);
    --color: var(--ion-color-secondary-contrast);
    --box-shadow: 10px 5px 5px rgb(65, 65, 65);
    margin: 0.2rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 20rem;
}

ion-item {
    --padding-start: 0.5rem;
    --inner-padding-end: 0.5rem;
}

ion-toggle {
    --background-checked: var(--ion-color-dark);
}

.input-item {
    margin: 0.2rem;
    box-shadow: 10px 5px 5px gray;
}

.error-item {
    --ion-background-color: var(--ion-color-warning);
    --color: var(--ion-color-warning-contrast);
    box-shadow: none;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    padding: 0.2rem;
}

.flex-object {
    margin: 0.2rem;
    flex: 1 1 0px;
    max-width: 50rem;
    min-width: 18rem;
}

.popover-style {
    --max-width: 90%;
    --min-width: 75%;
    --box-shadow: 10px 5px 5px grey;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

